
body {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    position: relative;
    width: 100%;
}

header img {
    width: 400px;
    height: 500px;
    position: absolute;
    right: 30px;
    object-fit: cover;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

.list {
    width: 100%;
}
.list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    height: 6vh;
    border-bottom: solid 2px #070;
}

.list li {
    margin: 10px auto;
    /* padding: 8px 8px; */
    list-style: none;
    font-size: 14px;
    border: solid 1px #070;
    border-radius: 2px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #070;
    margin-bottom: 0;
}

h2 {
    font-size: 28px;
}

main {
    margin-top: 50px;
}
main .principal {
    margin-top: 20px;
    width: 100%;
    text-align: start;
}

.principal .tittle {
    padding: 20px auto;

}
.principal .container {
    width: 100%;
    height: 200px;
}

main .video-content {
    display: grid;
    width: 100%;
    height: 200px;
}

.video-content .group {
    display: relative;
    width: 100%;
    height: auto;
}
.w-full {
    background-color: gray;
    overflow: hidden;
}

.w-full img {
    width: 250px;
    height: 250px;
}
.tittle-video {
    display: flex;
    justify-content: space-between;
}
.tittle-video h3 {
    color: gray;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}